.grid-container {
  display: grid;
  height: 85vh;
  margin: 1rem;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px;
  border-radius: 40px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  height: 7.5rem;
  width: 9rem;
  background-color: #395694;
  border: 5px solid rgb(166, 230, 255);
  padding: 25px;
  border-radius: 25px;
}

#title {
  color: #ca1414;
  margin-left: 19em;
}

#score {
  color: rgb(166, 230, 255);
  display: inline;
  margin-left: 5em;
}

#timer {
  color: rgb(166, 230, 255);
  display: inline;
  margin-left: 5em;
}

#game-over {
  display: none;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 25%;
  height: 25%;
  padding: 16px;
  border: 20px solid #ca1414;
  background-color: white;
  color: navy;
  border-radius: 20px;
}

#leaderboard {
  display: none;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 26%;
  height: 30%;
  padding: 16px;
  border: 20px solid #ca1414;
  background-color: white;
  color: navy;
  border-radius: 20px;
}

.close {
  position: absolute;
  right: 20px;
}

#delete {
  position: absolute;
  right: 20px;
}

#li {
  font-weight: bold;
  /* color: #002e92; */
}

#top-10 {
  margin-left: 4.5em;
}

#game-over-title {
  margin-left: 5em;
}

#top-scores {
  margin-left: 9em;
  /* font-size: 1em; */
  font-weight: bold;
  /* margin: 1em; */
  padding: 0.55em 1em;
  border: 2px solid navy;
  border-radius: 9px;
  background-color: LightBlue;
  color: Navy;
}

#restart {
  margin-left: 9em;
  font-weight: bold;
  /* margin: 2em; */
  padding: 0.55em 1em;
  border: 2px solid navy;
  border-radius: 9px;
  background-color: LightBlue;
  color: Navy;
}

#loading {
  position: absolute;
  left: 38%;
  top: 23%;
  display: block;
}
